:root {
  --main-color: khaki;
  --second-color: #fe1493;
  --white-color: #fff;
  --black-color: #222;
  --gray-color: #666;
  --med-gray-color: #999;
  --light-gray-color: #ddd;
  --under: rgb(46,155,217);
  --main-font: 'Poppins', sans-serif;
}

.footer-container {
  background-color: var(--black-color);
  padding: .5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icon-link {
  color: var(--white-color);
  font-size: 3rem;
}

.social-icon-link:hover {
  color: var(--main-color);
}
  
.social-media {
  max-width: 72vw;
  width: 100%;
}
  
.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1.5rem auto 0 auto;
}
  
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
 
.social-logo {
  color: var(--white-color);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.social-logo span {
  color: var(--main-color);
}
  
@media screen and (max-width: 820px) {
.footer-links {
  padding-top: 2rem;
}
  
.footer-input {
  width: 100%;
}
  
.btn {
  width: 100%;
}
  
.footer-link-wrapper {
  flex-direction: column;
}
  
.social-media-wrap {
  flex-direction: column;
}
}

@media screen and (max-width: 425px) {
.social-logo {
  font-size: 1.97rem;
}
}

@media screen and (max-width: 320px) {
.social-logo {
  font-size: 1.66rem;
}
}

.developed {
  color: var(--white-color);
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1rem
}

.developed  a {
  text-decoration: none;
  color: var(--white-color);
}

@media screen and (max-width: 425px) {
.developed {
  font-size: 1.1rem;  
}
}

@media screen and (max-width: 375px) {
.developed {
  font-size: 1rem;  
}
}