:root {
  --main-color: khaki;
  --second-color: #fe1493;
  --white-color: #fff;
  --black-color: #222;
  --gray-color: #666;
  --med-gray-color: #999;
  --light-gray-color: #ddd;
  --under: rgb(46,155,217);
  --main-font: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--mainfont);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--white-color);
  color: var(--black-color);
}